@for (person of personService.personen.value();track person.id) {
    <div class="person-karte" [style.border-color]="person.farbe">
        <h2 [style.color]="person.farbe"> {{ person.name }}</h2>

        <div class="zeitachse-fenster">
            <div class="zeitachse-24h">
                @for (ereignis of ereignisseFuerPerson(person.id); track ereignis.titel + ereignis.startMinuten) {
                    <div
                        class="ereignis-linie"
                        [style.top.px]="ereignis.startMinuten"
                        [style.height.px]="ereignis.endeMinuten - ereignis.startMinuten"
                        [style.background]="person.farbe"
                    ></div>
                    <div
                        class="ereignis-karte"
                        [style.top.px]="ereignis.startMinuten"
                        [style.left.px]="12 + ereignis.stapelPosition * 70"
                        [style.z-index]="ereignis.stapelPosition + 1"
                        [style.border-left-color]="person.farbe"
                    >
                        <span class=" ereignis-text">{{ ereignis.titel }} {{ ereignis.startText }}-{{ ereignis.endeText }}</span>
                    </div>
                }
            </div>
        </div>
    </div>
}